$myColor: red;

@mixin padding-horizontal($padding-value) {
  padding-left: $padding-value;
  padding-right: $padding-value;
}

@mixin margin-vertical($margin-value) {
  margin-top: $margin-value;
  margin-bottom: $margin-value;
}
